th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

div {
  margin: 10px;
}

body {
  background-color: rgb(210, 231, 250);
    font-family: Arial, sans-serif;
  padding: 20px;
}

.border-radius-5px_width-100px {
  border-radius: 5px;
  width: 100px;
}

.button-default {
  border-radius: 5px;
  border: 1px solid black;
}

.button-default:hover {
  transition: all;
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.tableau {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.tableau th,
td {
  background-color: rgb(230, 229, 229);
}

#carte-joueur {
  padding: 20px;
  border: 2px solid rgb(73, 85, 92);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(147, 206, 255);
}

#carte-joueur:hover {
  transition: all;
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.div_flex_border-radius_blue-bg {
  display: flex;
  padding: 20px;
  border: 3px solid rgb(10, 34, 113);
  background-color: rgb(89, 161, 224);
  border-radius: 5px;
}

.div_solid-border-radius {
  padding: 20px;
  border: 3px solid rgb(10, 34, 113);
  border-radius: 5px;
  float: none;
  overflow: hidden;
}

.display-flex_justify-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100vw;
}

.display-flex_justify-content a {
  text-decoration: none;
  color: black;
}

.list-no-style {
  list-style-type: none;
  padding-left: 0px;
}

/* ===== NAVBAR ===== */
.navbar {
  background-color: #030360;
  padding: 0 30px;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 6px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.navbar a:hover {
  background-color: #ffffff;
  color: #1e1e1e;
}
/*======================*/

.dead-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#auth {
  background-color: rgb(230, 229, 229);
  border: 2px solid rgb(128, 128, 128);
  width: 350px;
  height: 200px;
  padding: 10px;
}

#icone-joueur-grand {
  width: 368px;
  min-width: 368px;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.stat-box {
  width: 150px;
  height: 150px;
  background-color: #f2f2f2;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.stat-box h2 {
  margin: 10px 0;
  font-size: 36px;
}

.stat-box p {
  margin: 0;
  font-size: 18px;
}
